.logo {
	float: left;
	padding: 8px;
	border-right: 1px solid black !important;
}
.border {
	border: 1px solid black !important;
}
.center {
	text-align: center;
}
header{
	margin-bottom: 10px;
}
.row {
	margin-bottom: 10px;
}
.placeholder-img {
	width: 100px;
	height: 100px;
	margin: 0 20px 0 20px;
	border: 1px solid black !important;
}
.placeholder-img.large {
	width: 200px;
	height: 150px;
}
.center .placeholder-img {
	margin: 0 auto 20px auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.placeholder-img.right {
	margin-right: 0;
}
.placeholder-img.left {
	margin-left: 0;
}
.full-width {
	width: 100%;
}
.nav-link.active {
	color: black;
}
section {
	clear: both;
}