.row.border div {
	border: 1px solid black;
}
a:link {
	color: red;
}
a:hover {
	color: yellow;
}	
.bg-img {
	background-image: url('balloon.jpg');
	height: 300px;
	text-align: center;
	background-size: cover;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	display: table;
	width: 100%;
}
.bg-img div {
	display: table-cell;
	vertical-align: middle;
}
h1 {
	font-size: 400%;
	font-style: italic;
	transition: all .5s ease;  
	color: hsl(36,50%,50%);
}
h1:hover {
	color: hsl(36,100%,50%);
	font-size: 410%;
}
.shadow-box {
	width: 500px;
	height: 200px;
	-webkit-box-shadow: 0 0 10px 5px #FF7A05;
	box-shadow: 0 0 10px 5px #FF7A05;
	margin: 20px;
	padding: 20px;
}
.shadow-text {
	text-shadow: 1px 1px 1px #FF6803;
	font-size: 300%;
	font-style: italic;
	text-align: center;
}
}